# config/services.yaml

parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Faz com que classes em src/ estejam disponíveis como serviços (Configuração padrão)
    App\:
        resource: '../src/'

    # Removida a definição de App\State\UsuarioDataProcessor